.subscribe-button {
    background-color:rgb(200, 0, 0);
    color:white;
    border:none;
    padding-left:20px;
    padding-top:10px;
    padding-right:20px;
    padding-bottom:10px;
    border-radius:2px;
    cursor:pointer;
    margin-right:8px;
    transition:opacity 0.15s;
    }
     .subscribe-button:hover {
    opacity:0.5;
     }
     .subscribe-buton:active {
     opacity:0.5;
     }
    .join-button {
        border-color:rgb(84, 198, 255);
        height:36px;
        width:60px;
        border-radius:2px;
        background-color:white;
           color:rgb(84, 198, 255);
           cursor:pointer;
           margin-right:8px;
            transition:background-color 0.15s,
            color 1s;
                   }
           .join-button:hover{
            opacity:0.6;
            background-color:rgb(84, 198, 255);
            color:white;
           }
    .tweet-button {
        border-color:white;
        background-color:rgb(84,198,255);
        border-radius:18px;
        height:36px;
        width:74px;
        cursor:pointer;
        color:white;
        font-weight:bold;
        font-size:13px;
        box-shadow:5x 5px 10px rgba(0, 0, 0, 0.15);
        transition: box-shadow 0.15s;
    }
    .tweet-button:hover{
        opacity:0.5;
        background-color:white;
        color:rgb(84, 198, 255);
        box-shadow:5px 5px 10px rgba(0, 0, 0, 0.15);
    }